<!DOCTYPE html>
<html lang="en" ng-app="corpus">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Make a Death Tally</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bower_components/pure/base.css' %}" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="{% static 'bower_components/pure/pure.css' %}" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="{% static 'bower_components/pure/grids-responsive.css' %}" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/foundation-5/css/foundation.min.css' %}" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css" charset="utf-8" />
<script src="{% static 'js/node_modules/angular/angular.js' %}" type="text/javascript" ></script>
<script src="{% static 'bower_components/angular-foundation/mm-foundation-tpls.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'css/foundation-5/js/foundation.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'css/foundation-5/js/foundation/foundation.slider.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/angular/app.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/deathtally/services/makeSolutionService.js' %}" type="text/javascript" ></script>
<!--<script src="{% static 'js/deathtally/controllers/deathTimeSelectCtrl.js' %}" type="text/javascript" ></script>-->
<script src="{% static 'js/deathtally/controllers/makeSolutionCtrl.js' %}" type="text/javascript" ></script>
</head>
<body>
{% verbatim %}
<div class="pure-g" ng-controller="makeSolutionCtrl">
<div class="pure-u-1">
    <h2 class="pageinstruction">Create a death tally for {{ }}</h2>
        </div>
    <div class="pure-u-1 characterSelection">
        <div class="pure-u-1 pure-u-md-1-5" ng-show="cast.length > 0" ng-repeat="castMember in cast" >
            <div class="characterContainer">
                <img class="characterImage" src="{{castMember.filmImgSrc}}" ng-click="modalDeathTimeSelect(castMember)" >
                <p class="characterName">{{castMember.character}}</p>
                <p class="actorName">{{castMember.name}}</p>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
</body>
</html>
