.pageinstruction {
    text-align:center;
}

.searchinput,.searchinputbutton {
    width: 96%;
}

.searchcontainer {
    text-align:center;
}

.filmSearchNoResultsContainer{
    text-align:center;
}

.filmSearchErrorContainer {
    text-align:center;
}

.filmSearchResult img {
    position:relative;
    left: 50%;
    margin: 0 0 0 -46px;
    /*this is dependent on image with being 92px*/

}

.filmSearchResult .filmTitle {
    text-align:center;
}


