.pageinstruction {
    text-align:center;
}

.searchinput,.searchinputbutton {
    width: 96%;
}

.searchcontainer {
    text-align:center;
}

.filmSearchNoResultsContainer{
    text-align:center;
}

.filmSearchErrorContainer {
    text-align:center;
}

.filmSearchResult img {
    position:relative;
    left: 50%;
    margin: 0 0 0 -53px;
    padding: 7px 7px 7px 7px;
    cursor: pointer;
    /*this is dependent on image with being 92px*/
}


.filmSearchResult {
    cursor: pointer;
    /*background-color:rgba(136, 204, 238, 1.0);*/
    margin: 2px;
}

.filmSearchImage {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
}

.filmTitleContainer {
}

.filmSearchResult .filmTitle {
    width:100%;
    text-align:center;
    bottom: 0;
}

.nextResultPageButton {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-radius: 2px;
    height: 32px; 
    background-color: rgba(0,120,231, 1);
    color:rgba(255,255,255,1);
}

/*div.event-select div.input-row,
div.event-select div.slider-row {
    display: block !important;
    height: 50%;
    float: left;
}*/
div.time-select-modal {
    height: 100%;
}

div.event-select {
    height: 100%;
}

div.event-select div.input-row,
div.event-select div.slider-row {
    height: 50%;
}



