.pageinstruction {
    text-align:center;
}

.searchinput,.searchinputbutton {
    width: 96%;
}

.searchcontainer {
    text-align:center;
}

.filmSearchNoResultsContainer{
    text-align:center;
}

.filmSearchErrorContainer {
    text-align:center;
}

.filmSearchResult img {
    position:relative;
    left: 50%;
    margin: 0 0 0 -53px;
    padding: 7px 7px 7px 7px;
    cursor: pointer;
    /*this is dependent on image with being 92px*/
}


.filmSearchResult {
    cursor: pointer;
    position:relative;
}

.filmSearchImage {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2px;
}

.filmSearchResult .filmTitle {
    /*color:rgba(255,255,255,1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    width:100%;
    text-align:center;
    position: absolute;
    bottom: 0;
}

.nextResultPageButton {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-radius: 2px;
    height: 32px; 
    background-color: rgba(0,120,231, 1);
    color:rgba(255,255,255,1);
}


